body {
    font-family: 'Roboto';
    color: rgb(85, 85, 85);
}

h1 {
    font-weight: 700;
}

.parallax-home, .parallax-about-me, .parallax-experience, .parallax-involvement{
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.parallax-home {
    background-image: url("../assets/home.jpg");
    background-position: bottom;
    height: 100vh;
}

.parallax-about-me {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.parallax-experience {
    background-image: url("../assets/experience.jpg");
    background-position: top;
    color: white;
}

.parallax-involvement {
    background-color: white;
    background-position: top;
    padding-top: 50px;
    padding-bottom: 50px;
}

.title-home {
    color: white;
    font-weight: 300;
}

.imp {
    color: rgb(235, 255, 10);
    font-weight: 700;
}

.btn-resume {
    color: white;
    font-weight: 300;
    font-size: 30px;
    border: 2px;
    border-style: solid;
    border-color: white;
}

.btn-resume:hover {
    color: white;
    border-color: rgb(255, 85, 50);
    background-color: rgb(255, 85, 50);
}

.orange-filter {
    background-color: rgba(255, 85, 50, 0.67);
    padding-top: 50px;
    padding-bottom: 50px;
}

.blue-text {
    color: rgb(255, 85, 50);
}

.blue-filter {
    background-color: rgba(0, 75, 125, 0.67);
    height: 100vh;
}

.blue-text {
    color: rgb(0, 75, 125);
}

.yellow-text {
    color: rgb(235, 255, 10);
}
