.fillme {
  display: flex;
  align-items: center;
  height: 100vh;
}
.container-fluid {
  width: 90%;
}

#home {
  background: url("../assets/home.jpg");
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
}

#home h1 {
  /*font-family: 'Fugaz One';*/
  /*font-size: 9vw;*/
  color: #ECFE0B;
  /*text-transform: uppercase;*/
}

#home h2, p {
  /*font-family: 'Fugaz One';*/
  /*font-size: 3vw;*/
  color: white;
  /*text-transform: uppercase;*/
}

#home p {
  display: table-cell;
  vertical-align: center;
}

#home p:hover {
  /*background-color: #FF5533;*/
}

#about {
  text-align: center;
}

#education {
  background: url("../assets/education.jpg");
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
}

#experience {
  background: url("../assets/experience.jpg");
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
}

#involvement {
  background: url("../assets/involvement.jpg");
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
}
