:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.home-bg {
  background-color: rgb(59, 70, 82);
  border-radius: 0px;
}

.home-title, .home-subtitle {
  color: rgb(255, 255, 255);
}

.education, .experience, .projects, .involvement {
  padding-top: 50px;
  padding-bottom: 50px;
}

.education {
  background-color: rgb(244, 244, 244);
}

.projects {
  background-color: rgb(244, 244, 244);
}
