:root {
  --primary-color:  rgb(30, 215, 96);
  --primary-color-shade: rgb(20, 135, 61);
}

body {
  font-family: 'Lato';
  color: rgb(43, 61, 79);
}

h1, h2 {
  font-family: 'Montserrat';
  font-weight: bold !important;
}

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.home-bg {
  background-color: rgb(43, 61, 79);
  border-radius: 0px;
}

.home-title {
  font-family: "Montserrat";
  color: var(--primary-color) !important;
  font-weight: bold !important;
}

.name-title {
  /* font-size: 4rem; */
}

.home-subtitle {
  color: rgb(255, 255, 255);
}

.about, .education, .experience, .projects, .involvement, .contact {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about {
  background-color: rgb(230, 230, 230);
}

.education {
  background-color: rgb(244, 244, 244);
}

.experience {
  background-color: rgba(255, 95, 0, 0.65);
}

.projects {
  background-color: rgb(244, 244, 244);
}

.involvement {
  background-color: rgba(51, 156, 49, 0.65);
}

.contact {
  background-color: rgb(43, 61, 79);
  color: rgb(255, 255, 255);
  padding-top: 20px;
  padding-bottom: 20px;
}

.no-margin {
  margin: 0px 0px 0px 0px;
}

.profile-container {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(43, 61, 79);
  border-radius: 5px;
}

.profile-container:hover .overlay {
  opacity: 1;
}

.profile-text {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.profile-header {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.white {
  background-color: rgb(255, 255, 255);
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}

hr {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.img-fluid {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.parallax-home, .parallax-experience, .parallax-involvement {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
}

/* .parallax-home {
  background-image: url("../assets/home.jpg");
  background-position: bottom;
  height: 100vh;
} */

.parallax-experience {
  background-image: url("../img/experience.jpg");
  background-position: top;
}

.parallax-involvement {
  background-image: url("../img/involvement.jpg");
  background-position: top;
}

.nav-link:hover {
  color: var(--primary-color) !important;
  font-family: "Lato";
  /* font-weight: Bold; */
}

.btn-resume {
  background-color: var(--primary-color) !important;
  color: rgb(255, 255, 255);
}

.btn-resume:hover {
  background-color: var(--primary-color-shade) !important;
  color: rgb(255, 255, 255);
}

.navbar-dark, .bg-dark{
  background-color: rgb(38, 54, 71) !important;
}

span {
  color: var(--primary-color);
}

/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
