:root {
  --primary: rgb(244, 210, 37);
  --primary-hover: rgb(244, 210, 37, 0.8);
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url(../assets/fonts/OpenSansBold.ttf);
}

@font-face {
  font-family: 'SF Regular';
  src: url(../assets/fonts/SanFranciscoRegular.ttf);
}

body {
  color: rgb(153, 172, 185);
  font-family: 'SF Regular';
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans Bold';
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

.navbar-dark, .bg-dark {
  background-color: #02395D !important;
}

.underline {
  border-style: solid;
  border-width: 5px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-color: var(--primary);
}

.title, .title-chapter {
  font-family: 'Open Sans Bold';
  color: rgb(255, 255, 255);
}

.title-chapter {
  margin-bottom: 16px;
}

hr {
  border-color: rgb(153, 172, 185);
}

.highlight {
  color: var(--primary);
}

.number {
  color: var(--primary);
  font-family: 'Roboto Mono';
}

.monospace {
  font-family: 'Roboto Mono'
}

.img-fluid {
  /* border: 1px solid; */
  /* border-color: var(--primary); */
  /* box-hover: 12px 12px var(--primary); */
}

.fa-li, .far, .fas, .la {
  color: var(--primary);
}

.fa-phone-square {
  color: #E01F3D;
}

.fa-linkedin {
  color: #0077B5;
}

.fa-github-square {
  color: #6CC644;
}

.fa-envelope-square {
  color: #FFB900;
}

#home {
  background-color: #003050;
  width: 100%;
  min-height: calc(100vh - 66px);
  align-items: center;
  display: flex;
  padding: 36px 0px;
}

#about-me {
  background-color: #002B48;
  padding: 36px 0px;
}

#experience {
  background-color: #002640;
  padding: 36px 0px;
}

#projects {
  background-color: #002138;
  padding: 36px 0px;
}

#involvement {
  background-color: #001C30;
  padding: 36px 0px;
}

#contact {
  background-color: #001828;
  padding: 36px 0px;
}

.btn-primary {
  color: #FFFFFF;
  background-color: var(--primary);
  border-color: var(--primary);
  border-radius: 0px;
  font-family: 'Roboto Mono';
}

.btn-primary:hover {
  color: #FFFFFF;
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
}

.btn-primary.focus, .btn-primary:focus {
  box-hover: 0 0 0 .2rem var(--primary-hover);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: var(--primary);
  background-color: transparent;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary)
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-hover: 0 0 0 .2rem var(--primary-hover);
}

.btn-block {
  margin: 8px 0px;
}

.nav-tabs {
  border-bottom: 1px solid rgb(153, 172, 185);
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-pills .nav-link {
  border-radius: 0px;
  font-family: 'Roboto Mono';
  color: rgb(153, 172, 185);
  border-image-slice: 1;
  border-width: 3px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
  border-image-slice: 1;
  border-width: 3px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
}

.nav-fill .nav-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center
}

.carousel {
  padding-bottom: 16px;
}

.list-inline-item {
  border-style: solid;
  border-radius: 0px;
  border-width: 1px;
  border-color: var(--primary);
  color: var(--primary);
  font-family: 'Roboto Mono';
  padding: 4px 16px;
  margin: 4px 0px;
  font-size: 0.75rem;
}

.overlay {
  position: relative;
}

.overlay:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: var(--primary);
}

.overlay:hover:after {
  opacity: 0;
}

.card {
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--primary);
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 16px;
}

.card-project {
  background-color: #003050;
}

.card-footer {
  background-color: #002B48;
}

a {
  color: rgb(153, 172, 185);
  text-decoration: none;
}

a:hover {
  color: var(--primary);
  text-decoration: none;
}

.fadeInLeft {
  -webkit-animation: fadeInLeft 0.5s both ease;
  -moz-animation: fadeInLeft 0.5s both ease;
  animation: fadeInLeft 0.5s both ease;
}

.fadeIn {
  -webkit-animation: fadeIn 0.5s both ease;
  -moz-animation: fadeIn 0.5s both ease;
  animation: fadeIn 0.5s both ease;
}
