@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

@font-face {
  font-family: 'SF Regular';
  src: url(../assets/fonts/SanFranciscoRegular.ttf);
}

* {
  font-family: "SF Regular";
}

.main {
  font-family: "Staatliches";
}

.reservation {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}